.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 30px 0px 30px;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 15px;
  font-size: 18px;
}

.watchlist-tab {
  flex: 1;
  cursor: pointer;
  background-color: #3a3f74;
  border-radius: 10px;
  padding: 10px 17px 10px 17px;
  transition: background-color 0.4s ease;
}

.divider-line {
  flex: 1;
}

.watched-tab {
  flex: 1;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 17px 10px 17px;
  transition: background-color 0.4s ease;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 450px;
}

.search-icon {
  margin-right: 15px;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

.search-bar {
  flex: 1;
  height: 36px;
  font-size: 18px;
  width: 0;
  padding-left: 10px;
  background-color: #232323;
  color: white;
  outline: none;
  border: none;
  font-family: "Archivo Black";
}

.search-bar::placeholder {
  color: white;
  font-family: "Archivo Black";
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 15px;
}

.profile-icon {
  /* display: flex; */
  display: none;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border-style: solid;
}

.sign-up-click {
  display: none;
  cursor: pointer;
  margin-right: 25px;
}

.sign-in-click {
  display: none;
  cursor: pointer;
}

.sign-out-click {
  display: none;
  cursor: pointer;
}
