.main-container {
  display: flex;
  margin-top: 25px;
}

/* Sidebar ----------------------------------------------------------------------- */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  padding: 40px;
  background-color: #363636;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
}

.sidebar div:last-child {
  align-self: center;
}

.filter-line {
  flex-shrink: 1;
  width: 100%;
  height: 0.25px;
  background-color: white;
  margin-bottom: 30px;
}

.checkbox {
  margin-bottom: 15px;
}

.checkbox.genre {
  margin-left: 25px;
}

.actual-checkbox {
  cursor: pointer;
}

.checkbox-label {
  cursor: pointer;
}

.genre-and-plusminus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.genre-text {
  display: inline;
  cursor: pointer;
}

.plus-minus {
  cursor: pointer;
  height: 22px;
  width: 22px;
  display: inline;
}

.apply-and-reset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.filter-button {
  flex: 1;
  cursor: pointer;
  background-color: #3a3f74;
  transition: background-color 0.2s ease;
  padding: 10px 20px;
  border-radius: 10px;
}

.apply-filter {
  margin-right: 15px;
}

.reset-filter {
  margin-left: 15px;
}

.filter-button:hover {
  background-color: #4e527d;
}

/* Main content ------------------------------------------------------------------ */

.main-content {
  flex: 1;
  background-color: #3a3f74;
  padding: 60px 60px 30px 60px;
  border-radius: 20px;
  margin: 0px 20px 60px 20px;
}

.item-count {
  margin-bottom: 20px;
}

/* Main list ------------------------------ */

.main-list {
  list-style: none;
  padding: 0;
}

.media-card {
  display: flex;
  align-items: top;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  padding-bottom: 30px;
}

.thumbnail {
  margin-right: 20px;
}

.thumbnail img {
  width: 130px;
  height: 195px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.title-and-dots-row {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 15px;
}

.title {
  font-size: 25px;
  margin: 0px;
}

.three-dots-icon {
  height: 40px;
  width: 40px;
  filter: invert(100%);
  cursor: pointer;
}

.type-genre-year {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.media-details {
  display: inline-flex;
  margin: 0px;
}

.media-description {
  margin: 0;
  max-width: 900px;
}

.where-to-watch {
  display: none;
}

.content-options {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 175px;
  background-color: #4e527d;
  color: white;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  margin-top: 40px;
  position: absolute;
  z-index: 1;
}

.content-option {
  cursor: pointer;
}

.options-line {
  flex: 1;
  width: 150px;
  height: 0.25px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.main-list li {
  border-bottom: 1px solid white;
}

ul.main-list li:last-child {
  border-bottom: none;
}

.credits {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tmdb-logo {
  margin-left: 30px;
  margin-bottom: 40px;
  height: 20px;
}

.tmdb-disclaimer {
  margin: 0px 25px 40px 25px;
}
