body {
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: "Archivo Black";
  font-size: 16px;
  background-color: #232323;
  color: white;
}

.fill-in-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 30px;
}

.pencil-icon {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.sign-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.sign-up-container,
.sign-in-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-up-text {
}

.sign-up-info,
.sign-in-info {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  padding: 50px;
  border-radius: 15px;
  align-items: center;
}

.email-password {
  margin-bottom: 30px;
  height: 36px;
  font-size: 18px;
  background-color: #363636;
  color: white;
  outline: none;
  border: none;
  border-bottom: white solid 1px;
  font-family: "Archivo Black";
}

.email-password::placeholder {
  color: white;
  font-family: "Archivo Black";
}

.create-button {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color: #3a3f74;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  color: white;
  font-family: "Archivo Black";
  outline: none;
  padding: 4px 16px 4px 16px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}

.create-text {
  margin-right: 10px;
}

.options-line {
  border-left: 1px solid white;
  height: 300px;
  width: 0px;
  margin: 80px;
}

.bad-info {
  color: red;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 30px;
  display: none;
}
