.main-container {
    display: flex;
    margin-top: 25px;
}



/* Sidebar ----------------------------------------------------------------------- */

.sidebar {
    width: 18%;
    height: 300px;
    padding: 40px;
    background-color: #363636;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.checkbox{
    margin-bottom: 15px;
}



/* Main content ------------------------------------------------------------------ */

.main-content {
    width: 82%;
    height: 2000px;
    background-color: #3A3F74;
    padding: 60px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-count{
    margin-bottom: 20px;
}

/* Main list ------------------------------ */

.main-list {
    list-style: none;
    padding: 0;
}

.media-card {
    display: flex;
    align-items: top;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 33px;
    padding-bottom: 30px;
}

.thumbnail {
    margin-right: 20px;
}

.thumbnail img {
    width: 130px; 
    height: auto;
    border-radius: 10px; 
}

.card-content{
    margin-left: 10px;
}

.title-and-dots-row{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 15px;
}

.title {
    font-size: 25px;
    margin: 0px;
}

.three-dots-icon{
    height: 40px;
    width: 40px;
    filter: invert(100%);
}

.type-genre-year{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.media-details {
    display: inline-flex;
    margin: 0px;
}

/* .genre{
    display: inline-flex;
    margin: 0px;
}

.year{
    display: inline-flex;
    margin: 0px;
} */

.media-description {
    margin: 0;
    max-width: 900px;
}

.line{
    height: 0.25px;
    background-color: white;
    margin-bottom: 30px;
}

ul.main-list li {
    border-bottom: 1px solid white;
  }
  
ul.main-list li:last-child {
    border-bottom: none;
}